body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
  }
  
  .footer__svg {
    width: 40px;
    height: 40px;
  }
  .footer__svg-rs {
    margin-top: 5px;
    width: 80px;
    height: auto;
  }
  .footer__svg svg {
    fill: #d8d8d8;
  
    transition: fill .2s linear;
  }
  .footer__svg-rs svg {
    stroke: #d8d8d8;
    transition: stroke .2s linear, fill .2s linear;
  }
  
  .footer__link:hover svg{
    fill: #529ce0;
  }
  .footer__svg-rs:hover svg {
    stroke: #529ce0;
  }